.CNavRail {
  background-color: rgb(var(--color-background-dark));
  height: 100vh;
  height: 100dvh;
  display: flex;
}

.CNavRailItem {
    padding:  var(--c-md-padding) var(--c-xl-padding);
}

.CNavRailLayout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.CNavRailLayout__content {
  flex: 1;
  overflow: auto;
}
